<div id="page_title">
	<div class="page_title_left"></div>
	<div class="container">
		<div class="inner">
			<div>
				<h1><%= testimonials[rand(testimonials.count)] %></h1>
			</div>
		</div>
	</div>
	<div class="page_title_right"></div>
</div>