<div id="page_title">
	<div class="page_title_left"></div>
	<div class="container">
		<div class="inner">
			<div>
				<%= raw testimonials[rand(testimonials.count)] %>
			</div>
		</div>
	</div>
	<div class="page_title_right"></div>
</div>