<div id="content_upper" class="container">
	<div class="content span-24 last">
		<h1>Make ideas reality</h1>
		<div id="description" class="span-12">
			<div class="text border">
				<span>
					We are passionate programmers and challenge takers providing you <em>innovative</em> web solutions and <em>world class</em> web development services.
					We combine agile development methodologies with the latest technologies to implement your ideas in the shortest possible time.
          			<!-- <a href="/portfolio" class="contact">View some of our works</a> -->
				</span>
				<br />
				<br />
				<span>
					Having a burning desire to build your next killing web app?
					Let's <a href="/contact" class="contact">work together</a> to make it reality.
				</span>
			</div>
		</div>
		
		<div id="summary" class="span-12 last">
			<h2>Our Premium Services</h2>
			<div class="service span-6">
				<div>
					<a href="services#web_development_with_ruby_on_rails" class="icon"><img alt="ruby on rails web development and web design singapore" src="/images/icon_ror.jpg" width="40"/></a>
					<span><a href="services#agile-web-development-ruby-on-rails">Agile Web Development with Ruby on Rails</a></span>
				</div>
			</div class="service span-6 last">

			<div class="service span-6 last">
				<div>
					<a href="services#content_management_system" class="icon"><img alt="CMS Content Management System Singapore" src="/images/cms.gif" width="50"/></a>
					<span><a href="services#content-management-system-easy-to-manage-your-website-content">Content Management System (CMS)</a></span>
				</div>
			</div>

			<div class="service span-6">
				<div>
					<a href="services#web_design_consultancy_maintain" class="icon"><img alt="ruby on rails web development and web design singapore" src="/images/web-maintenance.jpg" width="50" height="50" style="margin-top:-5px;"/></a>
					<span><a href="services#web-design-consulting-maintenance-services">Web Design, Maintenance & Hosting</a></span>
				</div>
			</div>

			<div class="service span-6 last">
				<div>
					<a href="services#ecommerce_solution" class="icon"><img alt="ecommerce solution online shop singapore" src="/images/ecommerce.jpg" width="50"/></a>
					<span><a href="services#e-commerce-solution-for-manufacturers-and-retailers">e-Commerce Solution for Online Shop</a></span>
				</div>
			</div>
		</div>
	</div>
</div>