<div id="content_upper" class="container">
	<div class="content span-24 last">
		<div id="description" class="span-12">
			<div class="text border">
				<h2>Get In Touch</h2>
				<span>
					<ul>
						<li>Email: <a href="mailto:info@vinova.sg">info@vinova.sg</a></li>
						<li>Working Hours: 9:30am - 6:30pm, Mon-Fri</li>
						<li>Tel: (+65) 6524 3234</li>
						<li>Fax: (+65) 6524 3234</li>
					</ul>
					
				</span>
			</div>
		</div>
		<div id="summary" class="span-12 last">
			<div class="span-6">
				<h2>Address</h2>
				<h4 style="padding-left:20px;">
				  <a href="/"><strong>Vinova Pte. Ltd.</strong></a><br />
					10 Anson Road #31-10<br />
					International Plaza<br /> 
					Singapore 079903<br /><br />
					<a target="_blank" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=10+Anson+Road+%2331-10,+International+Plaza,+Singapore+079903&sll=1.37761,103.838063&sspn=0.046164,0.093513&ie=UTF8&hq=International+Plaza&hnear=International+Plaza,+10+Anson+Rd,+Singapore,+079903&ll=1.275092,103.84773&spn=0.011541,0.023378&z=17&iwloc=A">View Map</a>					
				</h4>

			</div>
			<div class="span-6 last"><img src="/images/contactus.png"></div>
			<span>
					
			</span>
		</div>
	</div>
</div>
