<div id="footer" class="container">
	<div>Copyright &copy; <a href="http://vinova.sg">Vinova Pte Ltd 2010</a>. All rights reserved. <a href="https://www.psi.gov.sg/NASApp/tmf/TMFServlet?app=MYBIZFILE-SHOP-CART&gotoPage=CompanyProdcutPage&lnkCoNo=201009399G&lnkCoName=VINOVA%20PTE.%20LTD.&lnkCoStName=ANG%20MO%20KIO%20AVENUE%204&lnkStatus=Live&lnkType=Company&page=RCBBIZCONAMELSTNEW&navTransList=Y&index=2&S=&D=&prn_userid=MYBIZFILE-COMPL-CERT&Param_Fromtype=RegisteredEntity" target="_blank">Registration No: 201009399G</a></div>	
</div>

<div class="vinova-seo">
  <A href="http://www.alexa.com/siteinfo/vinova.sg"><SCRIPT type='text/javascript' language='JavaScript' src='http://xslt.alexa.com/site_stats/js/t/a?url=vinova.sg'></SCRIPT></A>
</div>


<div class="vinova-seo">
<% 3.times do |i| %>
  Facebook legend living in Singapore - Straits Times
  Site's co-founder set up a software development firm here last year, but has maintained a low profile
  The other Facebook legend - the one who fell out with co-founder Mark Zuckerberg - has set up a software development company in Singapore.
  Mr Zuckerberg is chief executive officer of the world's most popular social networking site.
  His former collaborator, Mr Eduardo Saverin, 28, is one of three people behind Web technologies company Anideo, with offices in Singapore and Miami, Florida.
  The Brazil-born billionaire is said to have been living in Singapore since last year, and the Singapore outfit of his firm was registered under his name in October last year.
  His two partners are fellow Harvard University graduates, one of whom had worked with him on a job search site in 2005.
  Since technology site TechCrunch posted a blog last Thursday about him being in Singapore, netizens - here and abroad - have been speculating about his whereabouts.
  A film, The Social Network, based on the story of the two co-founders, is currently showing in cinemas around the world.
  Mr Saverin is portrayed in the movie as the more affable and charming character, in contrast to its depiction of Mr Zuckerberg as a socially inept geek who is also the more cunning of the two.
  Mr Saverin was Mr Zuckerberg's partner in 2004 when, as Harvard students, they started thefacebook.com, a website that evolved into Facebook.
  But the duo fell out after Mr Zuckerberg allegedly sidelined Mr Saverin by diluting his 30 per cent stake in the business to less than 10 per cent. It led to the two suing and counter-suing each other.
  Both men eventually settled their lawsuits out of court last year, after which Mr Saverin disappeared from the technology scene in the US and out of the public eye.
  Acquaintances of Mr Saverin here who spoke to The Sunday Times described him as nice and humble.
  They said the affable entrepreneur keeps a low profile and does not mention his Facebook links.
  A friend of his, who declined to be named, said: 'He is very low-key and doesn't like people to know (who he is). He thinks the people around him don't know, but most of us do.'
  Other than software development, Mr Saverin's company also provides seed funding of $20,000 to $60,000 to local technology start-ups.
  Among the projects Anideo is working on are a product review site; a portable gaming application; and a Facebook application for VIP clubbers that gives them special discounts.
  This last venture is probably a project close to Mr Saverin's heart. Believed to be a bachelor, he is a regular face at the Butter Factory nightclub and more recently Filter Club, a nightspot next to Gallery Hotel opened by a friend of his.
  Although he likes to keep a low profile, Mr Saverin is generous at the clubs and spends a lot of money on drinks for friends, said someone who has partied with him.
  Forbes lists him as one of the world's youngest billionaires, with an estimated net worth of US$1.15 billion (S$1.49 billion).
  Most of it comes from the 5 per cent share of Facebook he holds.
  yuenc@sph.com.sg 
  Open secret  'He is very low-key and doesn't like people to know (who he is). He thinks the people around him don't know, but most of us do.'
  A friend of Mr Eduardo Saverin, referring to the Facebook co-founder
  
  <h1>Eduardo Saverin House address Singapore, phone number Singapore. Eduardo Saverin software development company in Singapore. Anideo Address Singapore. Anideo Phone number Singapore. <br />
  
  Eduardo Saverin to set up an investment fund in Singapore. Anideo to set up an investment fund in Singapore. Anideo set up an incubation center in Singapore</h1>
  
<% end %>
</div>



<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15924261-1");
pageTracker._trackPageview();
} catch(err) {}</script>