<div id="general_info" class="container">
	<div class="span-24 last top"></div>
	<div class="span-24 last mid">
		<div class="span-8">
			<h4>Get In Touch</h4>
			<ul>
				<li><a href="/"><strong>Vinova Pte. Ltd.</strong></a></li>
				<li><a href="/contact#map">10 Anson Road #31-10, International Plaza<br /> Singapore 079903</a></li>
				<li>Email: <a href="mailto:info@vinova.sg">info@vinova.sg</a></li>
				<li>Tel & Fax: <a href="http://singtel.com" target="_blank">(+65) 65 243 234</a></li>
			</ul>
		</div>			
		<div class="span-8">
			<h4>Products And Services</h4>
			<ul>
				<li><a href="services#agile-web-development-ruby-on-rails">Agile Web Development With Ruby on Rails</a></li>
				<li><a href="services#web-design-consulting-maintenance-services">Web Design, Consulting & Maintenance</a></li>
				<li><a href="services#cloud_computing_and_collective_intelligence">Cloud Computing & Collective Intelligence</a></li>
				<li><a href="services#facebook-twitter-application-development">Facebook & Twitter Applications</a></li>
			</ul>
		</div>
		<div class="span-8 last">
			<h4>More Information</h4>
			<ul>
				<li><a href="/feeds_corner">Feeds Corner</a></li>
				<li><a href="http://blog.vinova.sg">Blog</a></li>
				<li><a href="http://www.facebook.com/pages/Vinova-Pte-Ltd/112477245461274">Facebook</a></li>
				<li><a href="http://twitter.com/vinova_sg">Twitter</a></li>

			</ul>
		</div>

	</div>
	<div class="span-24 last bttm"></div>
</div>